* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  place-content: center;
  background: black;
  padding: 10px;
}
body .atr {
  color: white;
  margin: 10px 20px 30px 0;
}
body p.atr {
  text-align: center;
}

#quote-container {
  min-width: 200px;
  max-width: 500px;
  font-size: 12px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff10;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
#quote-container #text, #quote-container #author {
  line-height: 1.5;
  color: #DBE9EE;
  margin: 5px;
}
#quote-container #author {
  text-align: end;
}
#quote-container button {
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-family: "Roboto Mono", monospace;
  padding: 6px;
  background: #166088;
  color: white;
  border: none;
  outline: none;
  height: 50px;
  cursor: pointer;
  border-radius: 6px;
}
#quote-container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}
#quote-container .buttons img {
  -webkit-filter: invert(90%) sepia(15%) saturate(173%) hue-rotate(164deg) brightness(104%) contrast(87%);
          filter: invert(90%) sepia(15%) saturate(173%) hue-rotate(164deg) brightness(104%) contrast(87%);
}
#quote-container .opinions button {
  margin: 5px;
}
#quote-container .opinions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#quote-container .opinions .dislike img {
  -webkit-transition: cubic-bezier(0, 1.5, 1, 1.5) 0.3s;
  transition: cubic-bezier(0, 1.5, 1, 1.5) 0.3s;
  height: 30px;
  -webkit-transform: rotate(250deg);
          transform: rotate(250deg);
}
#quote-container .opinions .like img:hover {
  -webkit-animation: beat 0.5s infinite alternate;
          animation: beat 0.5s infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}
#quote-container .opinions .dislike, #quote-container .opinions .like {
  -webkit-transition: cubic-bezier(0, 1.5, 1, 1.5) 0.3s;
  transition: cubic-bezier(0, 1.5, 1, 1.5) 0.3s;
}
#quote-container .opinions .dislike img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: cubic-bezier(0, 1.5, 1, 1.5) 1s;
  transition: cubic-bezier(0, 1.5, 1, 1.5) 1s;
}
#quote-container .opinions .dislike:focus, #quote-container .opinions .like:focus {
  background: #440c0c;
  height: 25px;
  -webkit-transition: cubic-bezier(0, 1.5, 1, 1.5) 0.3s;
  transition: cubic-bezier(0, 1.5, 1, 1.5) 0.3s;
}
#quote-container .opinions .dislike:focus img, #quote-container .opinions .like:focus img {
  height: 20px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: cubic-bezier(0, 1.5, 1, 1.5) 0.3s;
  transition: cubic-bezier(0, 1.5, 1, 1.5) 0.3s;
}

#new-quote {
  -webkit-transition: cubic-bezier(0, 1.5, 1, 1.5) 0.3s;
  transition: cubic-bezier(0, 1.5, 1, 1.5) 0.3s;
}

#new-quote:hover {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: cubic-bezier(0, 1.5, 1, 1.5) 0.3s;
  transition: cubic-bezier(0, 1.5, 1, 1.5) 0.3s;
}

@-webkit-keyframes beat {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-filter: invert(13%) sepia(81%) saturate(7270%) hue-rotate(2deg) brightness(95%) contrast(114%);
            filter: invert(13%) sepia(81%) saturate(7270%) hue-rotate(2deg) brightness(95%) contrast(114%);
  }
}

@keyframes beat {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-filter: invert(13%) sepia(81%) saturate(7270%) hue-rotate(2deg) brightness(95%) contrast(114%);
            filter: invert(13%) sepia(81%) saturate(7270%) hue-rotate(2deg) brightness(95%) contrast(114%);
  }
}
@media (min-width: 900px) {
  #quote-container {
    font-size: 18px;
  }
}